<div class="wrapper">
  <div class="sidebar">
    <h2>Sidebar</h2>
    <ul>

      <% PagesHelper::FAVICON.each do |n| %>
        <%= content_tag(:li) do %>
          <%= link_to n[:path] do %>
            <%= n[:link_name] %>
            <%= content_tag(:i, nil, class: ["fas", n[:class_name]]) %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
    <div class="social_media">
      <% PagesHelper::SOCIAL.each do |n| %>
        <%= link_to "#" do %>
          <%= content_tag(:i, nil, class: ["fab", n]) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
